.progress {
  margin-bottom: 20px;
}

.progress__row {
  width: 100%;
  display: flex;
}

.progress__left-row {
  width: 200px;
  background: #3456F3;
  text-align: center;
  color: white;
}

.progress__right-row {
  text-align: center;
  width: 100%;
  background-color: #F2F2F2;;
}

.progress__left-description {
  width: 200px;
  text-align: center;
  color: #A0A0A0;
}

.progress__right-description {
  text-align: center;
  width: 100%;
  color: #A0A0A0;;
}
.progress__text {
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 630px) {
    
  .progress__text {
    font-size: 12px;
  }

  .progress__text-description {
    font-size: 12px;
  }

}