.about {
    margin: 0 70px;
    /* height: 100vh; */
}

.container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 630px) {
    
    .about {
        margin: 0 40px;
        /* height: 100vh; */
    }
  
}