.main__wrapper {
    background-color: rgba(242, 242, 242, 0.5);
}

.techs {
    margin: 0 70px;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
    
}
.techs__container {
    display: flex;
    justify-content: center;
}

.techs__banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 900px) {
    .techs__container {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .techs__container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


@media (max-width: 630px) {
    
    .techs {
        margin: 0 40px;
        justify-content: center;
        /* height: 100vh; */
    }
  
}